
<div class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a  class="h1">Login Here</a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form [formGroup]="loginForm" class="needs-validation" (ngSubmit)="Submit()">
          <div class="input-group mb-3">
            <input type="email" class="form-control" [ngClass]="{'is-invalid':submitted && loginForm.controls.userName.errors}" name="email"  placeholder="Enter Email" formControlName="userName" autocomplete="true">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            <div *ngif="submitted && loginForm.controls.userName.errors" class="text-danger">
              <div *ngif="submitted && loginForm.controls.userName.errors.required">

              </div>
             </div>
          </div>
          <div class="row">
            <div *ngIf="submitted && loginForm.controls.userName.errors">
              <div *ngIf="submitted && loginForm.controls.userName.errors?.['required']" class="text-danger">
                User Name is required!
              </div>
              <div *ngIf="submitted && loginForm.controls.userName.errors?.['email']" class="text-danger">
                Invalid Email!
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" [ngClass]="{'is-invalid':submitted && loginForm.controls.userPassword.errors}" name="password"  placeholder="Password" formControlName="userPassword" autocomplete="true">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div *ngIf="submitted && loginForm.controls.userPassword.errors">
              <div *ngIf="submitted && loginForm.controls.userPassword.errors?.['required']" class="text-danger">
                User Password is Required..
              </div>
              <div *ngIf="submitted && loginForm.controls.userPassword.errors?.['minlength']" class="text-danger">
                Max length should be 6 character..
              </div>
              <!-- <div *ngIf="submitted && loginForm.controls.userPassword.errors?.['pattern']" class="text-danger">
                Minimum 6 characters, at least one uppercase letter, one lowercase letter and one number..
              </div> -->
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember" formControlName="IsRemember">
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <div class="social-auth-links text-center mt-2 mb-3">
          <a routerLink="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
          </a>
          <a routerLink="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
          </a>
        </div>
        <!-- /.social-auth-links -->

        <p class="mb-1">
          <a routerLink="/forget-password">I forgot my password</a>
        </p>
        <p class="mb-0">
          <a routerLink="/signup" class="text-center">SignUp Here</a>
        </p>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</div>
